h1 {
 font-family: helvetica, arial, sans-serif;
}
/* Write your selector for .left below */

/* Write your selector for .right below */

/* Write your selector for .separator below */

.left {
    float: left;

}

.right{
    float:right;
}

.separator{
    max-width: 750px;
    margin:0 auto;
}